<div>
	<button type="button" class="btn btn-primary btn-lg" ng-click="launch('createChannel')">Novo canal</button><br><br>

	<div ng-repeat="channel in channels">
		<div class="panel panel-default">
			<div class="list-group">
				<a href="#/channel/{{channel.id}}" class="list-group-item"> <!--ng-click="changeView(id)">-->
					    {{channel.name}}
				</a>
				<button type="button" class="close" ng-click="deleteChannel(channel.name)" onClick="window.location.reload()"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="createChannelModal" tabindex="-1" role="dialog" aria-labellebdy="createChannelLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		  	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		    	<h4 class="modal-title" id="newChannelLabel">Criar canal</h4>
		 	</div>
		  	<div class="modal-body">
				<form>
					<label>Nome:</label>
					<textarea class="form-control" ng-model="channel.name">{{channel.name}}</textarea>
			  		<button ng-click="createChannel(channel.name)" type="submit" onClick="window.location.reload()">Submeter</button>
				</form>
			</div>
		</div>
	</div>
</div>