<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header"><span>HOMEPAGE</span></li>


            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Add new</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="simple.html"><i class="fa fa-circle-o"></i>Trackable</a></li>
                    <li class="active"><a href="data.html"><i class="fa fa-circle-o"></i>Scene</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>